/config/master.key
/config/application.yml
/config/credentials/*.key
/storage/*.sqlite3*
/storage/*
!/storage/.keep
/log/*
/tmp/*
/node_modules/
/frontend/node_modules/
/frontend/dist/
/.bundle
/vendor/*
!/vendor/.keep
